@model CaseDiaryView.ViewModels.Adalot

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewData["Title"] = "Edit Adalot";
}

<h2>Edit Adalot</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Adalots">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="AdalotName" class="control-label"></label>
        <input asp-for="AdalotName" class="form-control" />
        <span asp-validation-for="AdalotName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Current Logo</label>
        @if (!string.IsNullOrEmpty(Model.Logo))
        {
            <div>
                <img src="@Url.Content("https://localhost:7175/"+Model.Logo)" alt="Current Logo" style="max-width: 150px; height: auto;" />
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="ILogoFile" class="control-label">Upload New Logo</label>
        <input asp-for="ILogoFile" type="file" class="form-control" />
        <span asp-validation-for="ILogoFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Current Banner</label>
        @if (!string.IsNullOrEmpty(Model.Banner))
        {
            <div>
                <img src="@Url.Content("https://localhost:7175/"+Model.Banner)" alt="Current Banner" style="max-width: 300px; height: auto;" />
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="IBannerFile" class="control-label">Upload New Banner</label>
        <input asp-for="IBannerFile" type="file" class="form-control" />
        <span asp-validation-for="IBannerFile" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
